/Lab9/nbproject/private/
/Lab9/build/
/Lab9/dist/
/Lab10/nbproject/private/
/Lab10/build/
/StringEval/nbproject/private/
/StringEval/build/
/Lab11/nbproject/private/
/Lab11/build/
/Practice/nbproject/private/
/Practice/build/